<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/client/img/resource/favicon-dagstore.ico" type="image/x-icon">
    <!-- fontawesome font -->
    @Styles.Render("~/Content/client/font/font-awesome-pro-5/css/all.min.css")
    <!-- swiper css -->
    @Styles.Render("~/Content/lib/swiper-8.3.2/package/swiper-bundle.min.css")
    <!-- bootstrap css -->
    @Styles.Render("~/Content/lib/bootstrap-5.2.0-dist/css/bootstrap.min.css")
    <!-- css -->
    @RenderSection("css", required: false)
</head>

<body>
    <div class="se-pre-con">
        <span class="loader"></span>
    </div>
    <div id="root">
        <!-- begin: header -->
        @{Html.RenderAction("Header", "Home");}
        <!-- end: header -->
        <!-- begin: content -->
        @RenderBody()
        <!-- end: content -->
        <!-- begin: footer -->
        @{Html.RenderAction("Footer", "Home");}
        <!-- end: footer -->
    </div>

    <!-- bootstrap js -->
    @Scripts.Render("~/Content/lib/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js")
    <!-- swiper js -->
    @Scripts.Render("~/Content/lib/jquery-3.6.0/jquery-3.6.0.min.js")
    @Scripts.Render("~/Content/lib/swiper-8.3.2/package/swiper-bundle.min.js")
    @Scripts.Render("~/Content/client/js/carousel.js")
    <!-- script -->
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            // loading Effect
            $(document).ready(function () {

                $(this).scrollTop(0);
                $(".se-pre-con").fadeOut(4000);//The time it take
            });

            window.onbeforeunload = function () {
                window.scrollTo(0, 0);
            };
        });
    </script>
</body>

</html>
